.YouTubeRow-container{
    display: flex;
    flex-direction: column;
    /* font-size: 2vw; */
    padding: 6.33vh ;
    padding-top: 0;
    z-index: 2;
}

.YouTubeRow-container .navigationAllLink{
    position: absolute;
    font-weight: bold;
    font-size: 1.87vh;
    text-decoration: none;
    margin-left: 137vh;
    margin-top: 2.4vh;
    background-color: #D3F85A; /* The green background color */
    padding: 1.4vh 4vh; /* Padding inside the button */
    border-radius:  3vh; /* The rounded corners */
    color: #040914;
    transition:  background-color 0.7s ease, font-size 0.5s ease, text-decoration 0.5s ease;
}

.YouTubeRow-container .navigationAllLink:hover{
    background-color: green;
    border-color: green;
}

.YouTubeRow-container .videoListt{
    display: flex;
    list-style-type: none;
    width:100%;
    justify-content: space-around;
    padding-top: 2rem;
    flex-wrap: wrap;
    
}

.YouTubeRow-container .videoListt .videoListElement{
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-right: 1vw;
    align-content: space-between;
}

.YouTubeRow-container .videoListt .videoListElement .videoImagee{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    transition: width 0.5s ease-in-out; 
}

.YouTubeRow-container .videoListt .videoListElement .videoImagee:hover {
    width: 21vw;
}

.YouTubeRow-container .videoListt .videoInfo-container{
    display: flex;
    margin-top: 1vh;
}

.YouTubeRow-container .videoListt .videoInfo-container .playArroww{
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: red;
    border-radius: 50%;
    width: 40px; 
    height: 40px; 
    display: flex;
    margin-left: -3vw;
    margin-top: 2.7vh;
}

.YouTubeRow-container .videoListt .videoInfo{
    display: flex;
    flex-direction: column;
    align-items: self-start;
}
