.YouTubeRow-container{
    display: flex;
    flex-direction: column;
    /* font-size: 2vw; */
    padding: 6.33vh ;
    padding-top: 0;
    z-index: 2;
}

.YouTubeRow-container .navigationAllLink{
    position: absolute;
    font-weight: bold;
    font-size: 1.87vh;
    text-decoration: none;
    margin-left: 137vh;
    margin-top: 2.4vh;
    background-color: #D3F85A; /* The green background color */
    padding: 1.4vh 4vh; /* Padding inside the button */
    border-radius:  3vh; /* The rounded corners */
    color: #040914;
    transition:  background-color 0.7s ease, font-size 0.5s ease, text-decoration 0.5s ease;
}

.YouTubeRow-container .navigationAllLink:hover{
    background-color: green;
    border-color: green;
}

.YouTubeRow-container .videoList{
    display: flex;
    list-style-type: none;
    padding-top: 1.8vh;
    margin-left: -3vw
}

.YouTubeRow-container .videoList .videoListElement{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 1.4vw; /* element gap*/
}

.YouTubeRow-container .videoList .videoListElement .videoImage{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22vw;
    transition: width 0.5s ease-in-out; 
}

.YouTubeRow-container .videoList .videoListElement .videoImage:hover {
    width: 24vw;
}

.YouTubeRow-container .videoList .videoInfo-container{
    display: flex;
    margin-top: 1vh;
}

.YouTubeRow-container .videoList .videoInfo-container .playArrow{
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: red;
    border-radius: 50%;
    width: 40px; /* Adjust the width to fit the design */
    height: 40px; /* Adjust the height to fit the design */
    display: flex;
    margin-left: -4vw;
    margin-top: 2.7vh;
}

.YouTubeRow-container .videoList .videoInfo{
    display: flex;
    flex-direction: column;
    align-items: self-start;
}