.SearchTopRow-container{
    margin-top: 5vh;
    display: flex;
    z-index: 2;
    padding: 6vh;
    height: 40vh;
}

.SearchTopRow-container .left {
    flex: 8;
    background-image: url('../../../../assets/SpotifyLogo.png');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    margin: 2%;
    border-radius: 5%;
}

.SearchTopRow-container .left .searchBar{
    position: relative;
    top: 3%;
    left: 5%;
}

.SearchTopRow-container .right{
    flex: 2;
    background-color: rgb(68, 68, 68);
    border-radius: 5%;
    overflow: hidden;
}

.SearchTopRow-container .right h4{
    margin-top: 3%;
    margin-left: 3%;
}

.SearchTopRow-container .right .topMusicList {
    list-style-type: none;
    margin-top: -3%;
}
  
.SearchTopRow-container .right .topMusicListElement {
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}

.SearchTopRow-container .right .topMusicListElement .topMusicImage {
    height: 6.5vh;
    transition: height 0.5s ease-in-out; 
}
  
.SearchTopRow-container .right .topMusicListElement .topMusicImage:hover {
    height: 8vh;
}
  
.SearchTopRow-container .right .topMusicInfo {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}