
   .staticBall  {
    position: absolute;
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    background-image: radial-gradient(circle at center, rgb(89, 207, 180) 0%, rgba(2, 68, 52, 0.7) 50%, rgba(0, 0, 0, 0) 300%);
    overflow: hidden;
    opacity: 40%;
    filter: blur(8px);
    overflow: hidden;
    mix-blend-mode: hard-light; 
    right:65%;
    top:20%;
    z-index: 1;
    pointer-events: none;
  }

  
  .staticBall ::before,
  .staticBall ::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 300%;
    height: 300%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-image: inherit;
    
  }
  
  .staticBall ::before {
    z-index: -1;
    filter: blur(40px);
    opacity: 0.6;
  }
  
  .staticBall::after {
    z-index: -2;
    filter: blur(80px);
    opacity: 0.2;
  }
