.AIRecommendationRow-container{
    z-index: 2;
    padding-left: 6vh;
    padding-right: 6vh;
    margin-top: 0vh;
    display: flex;
    flex-direction: column;
}

.AIRecommendationRow-container h2{
    text-align: right;
}

.AIRecommendationRow-container .label-container{
    display: flex;
}


.AIRecommendationRow-container .label-container .label-subcontainer{
    display: flex;
    flex-direction: row;
}


.AIRecommendationRow-container .recommendationLabel{
    background-color: #15FFAB;
    color: black;
    text-align: start;
    padding: 1vh;
    width: 20vw;
    border-radius: 1vh;
    box-shadow: 0vh 1vh 6vh rgba(29, 255, 138, 0.5);
}

.AIRecommendationRow-container .subLabel{
    background-color: #2b5747;
    text-align: center;
    width: 13vw;
    border-radius: 1vh;
    color: rgba(219, 219, 219, 0.74);
}

.AIRecommendationRow-container .FilterLabel{
    background-color: #a820c6;  
    box-shadow: 0vh 1vh 6vh rgba(213, 69, 193, 0.5);
    color: black;
    width: 15vw;
    padding: 1vh;
    border-radius: 1vh;
}

.AIRecommendationRow-container .submitNavLinkOne{
    position: absolute;
    left: 85vw;
    top: 150vh;
    font-weight: bold;
    font-size: 1.87vh;
    text-decoration: none;
    padding-left:  1.86vh;
    margin-right: 6.47vh;
    background-color: #D3F85A; /* The green background color */
    padding: 1.4vh 4vh; /* Padding inside the button */
    border-radius:  3vh; /* The rounded corners */
    color: #040914;
    transition:  background-color 0.7s ease, font-size 0.5s ease, text-decoration 0.5s ease;
}

.AIRecommendationRow-container .submitNavLink{
    position: absolute;
    left: 85vw;
    top: 152vh;
    font-weight: bold;
    font-size: 1.87vh;
    text-decoration: none;
    padding-left:  1.86vh;
    margin-right: 6.47vh;
    background-color: #D3F85A; /* The green background color */
    padding: 1.4vh 4vh; /* Padding inside the button */
    border-radius: 3vh; /* The rounded corners */
    color: #040914;
    transition:  background-color 0.7s ease, font-size 0.5s ease, text-decoration 0.5s ease;
}

.AIRecommendationRow-container .submitNavLinkOne:hover{
    background-color: green;
    border-color: green;
}