.AIRecommendationRow-container{
    z-index: 2;
    padding-left: 6vh;
    padding-right: 6vh;
    margin-top: 0vh;
    display: flex;
    flex-direction: column;
}

.AIRecommendationRow-container h2{
    text-align: right;
}

.AIRecommendationRow-container .label-container{
    display: flex;
}

.AIRecommendationRow-container .label-container .label-subcontainer{
    display: flex;
    flex-direction: row;
}

.AIRecommendationRow-container .recommendationLabel{
    background-color: #15FFAB;
    color: black;
    text-align: start;
    padding: 1vh;
    width: 20vw;
    border-radius: 1vh;
    box-shadow: 0vh 1vh 6vh rgba(29, 255, 138, 0.5);
}

.AIRecommendationRow-container .subLabel{
    background-color: #2b5747;
    text-align: center;
    width: 13vw;
    border-radius: 1vh;
    color: rgba(219, 219, 219, 0.74);
}

.AIRecommendationRow-container .FilterLabel{
    background-color: #a820c6;  
    box-shadow: 0vh 1vh 6vh rgba(213, 69, 193, 0.5);
    color: black;
    width: 15vw;
    padding: 1vh;
    border-radius: 1vh;
}