.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  z-index: 10;
  padding: 0.93vh 3.73vh; /* Add padding to the left and right */
  background-color: #040914;
  backdrop-filter: blur(20px);
}

.nav-container::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(25, 31, 45, 0.3); 
  z-index: -1;
}
  
  .nav-container .nav-logo {
    display: flex;
    align-items: center;
    
  }
  
  .nav-container .nav-logo img {
    margin-right: 0.93vh; /* Adjust the space between the logo and the text */
    width:2.3vw;
    margin-top: 0.93vh;
    transition: transform 0.3s ease; /* Smooth transition for the transform */
  }
  .nav-container .nav-logo img:hover{
    transform: scale(1.1); /* Increase the size of the logo by 10% */
    
  }
  .nav-container .nav-logo span{
    font-size: 2.33vh;
    color:white;

  }


  
  .nav-container .nav-links {
    font-size: 1.86vh;
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0px;
    padding: 0px;
    flex-grow: 1; /* Allows it to take up as much space as possible */
  }

  
  .nav-container .nav-links li {
    padding: 1.86vh 3.73vh; /* Adjust the padding to space out the links */
  }

  .nav-container .nav-links li a {
    margin-left: 1.86vh; /* Space between the Sign In and Create Account links */
    color: white; /* Set the text color */
    text-decoration: none; /* Remove the underline from links */
    transition: font-size 0.3s ease, text-decoration 0.3s ease;
  }
  .nav-container .nav-links li a:hover {
    color: #ddd; /* Lighten the text color on hover */
    font-size: 1.1em; /* Increase the font size */
    text-decoration: underline; /* Add an underline */
  }
  
  .nav-container .nav-auth {
    display: flex;
    align-items: center;
  }
  
  .nav-container .nav-auth a {
    font-size: 1.86vh;
    margin-left:  1.86vh; /* Space between the Sign In and Create Account links */
    text-decoration: none;
    color: white; /* Set the text color */
    text-decoration: none; /* Remove the underline from links */
    transition: background-color 0.5s ease, font-size 0.5s ease, text-decoration 0.5s ease;
  }
  .nav-container .nav-auth .signin{
    padding-right: 2vw;
    font-size:  1.86vh;
  }
  .nav-container .nav-auth .signin:hover {
    color: #ddd; /* Lighten the text color on hover */
    font-size: 2.1vh; /* Increase the font size */
    text-decoration: underline; /* Add an underline */
  }
  
  .nav-container .nav-auth a:last-child {
    padding-left:  1.86vh;
    margin-left:  1.86vh;
    border-left: 1px solid #aaa; /* Visual separator between the two links */
    margin-right: 7.47vh;
    background-color: #D3F85A; /* The green background color */
    padding: 0.93vh 1.4vh; /* Padding inside the button */
    border-radius:  1.86vh; /* The rounded corners */
    color: #040914;
  }
  .nav-container .nav-auth a:last-child:hover{
    background-color: #c0ecf6; /* Darker shade of lime green */

 
  }

  