.SpotifyRowContainer{
    display: flex;
    flex-direction: column;
    font-size: 2vw;
    padding: 6.33vh ;
    padding-top: 3.6vh;
    height:40vh;
    position: relative;
    z-index: 2;
}

.SpotifyRowContainer .sectionTitleList{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    margin:0;
    padding: 0;
    margin-bottom: 9vh;
}

.SpotifyRowContainer .sectionTitleList .sectionTitileName{
    font-size: 3vh;
}

.SpotifyRowContainer .spotifyRow{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    margin:0;
    padding: 0;
    height:30vh;
}

.SpotifyRowContainer .spotifyRow .insideSpotifyList{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin:0;
    padding: 0;
}

.SpotifyRowContainer .spotifyRow .insideSpotifyList img {
    width: 12vw;
    transition: width 0.5s ease-in-out; 
}
  
.SpotifyRowContainer .spotifyRow .insideSpotifyList img:hover {
    width: 14vw;
}

.SpotifyRowContainer .spotifyRow .insideSpotifyList .titleName{
    font-size: 1.4vw;
    margin-left: 1vw;
}

.SpotifyRowContainer .spotifyRow .insideSpotifyList .author{
    font-size: 0.9vw;
    font-weight: 100;
    margin-left: 1vw;
}
