.SpotifyRow-container{
    display: flex;
    flex-direction: column;
    padding: 6.33vh ;
    padding-top: 3.6vh;
    height: 46vh;
    position: relative;
    z-index: 2;
}

.SpotifyRow-container .musicList{
    display: flex;
    list-style-type: none;
    padding-top: 1.8vh;
    margin-left: -3vw
}

.SpotifyRow-container .musicList .musicListElement{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 4vw; /* element gap*/
}

.SpotifyRow-container .musicList .musicListElement .musicImage{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 12vw;
    transition: width 0.5s ease-in-out; 
}

.SpotifyRow-container .musicList .musicListElement .musicImage:hover {
    width: 14vw;
}

.SpotifyRow-container .musicList .musicInfo-container{
    display: flex;
    margin-top: 1vh;
}

.SpotifyRow-container .musicList .musicInfo{
    display: flex;
    flex-direction: column;
    align-items: self-start;
}
