.SubscribeRowContainer{
    display: flex;
    flex-direction: center;
    align-items: center;
    font-size: 2vw;
    padding: 6.33vh ;
    margin-top: 13vh;
    position: relative;
    z-index: 2;
    padding-bottom: 0;
    margin-bottom: 0;
}

.SubscribeRowContainer .leftSub .leftList{
    margin:0;
    padding:0;
    list-style-type: none;
    margin-left: 15vw;
}

.SubscribeRowContainer .leftSub .humenPicture{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin:0;
    padding:0;
}

.SubscribeRowContainer .leftSub .newsletterText{
    font-size: 3vh;
    margin-top: 1.5vh;
}

.SubscribeRowContainer .leftSub .Subext{
    margin-top: 1.5vh;
    margin-bottom: 4vh;
}

.SubscribeRowContainer .leftSub .humenPicture li{
    margin-right: 1vw;
}

.SubscribeRowContainer .leftSub .emailInputContainer{
    display: flex;
    flex-direction: row;
}

.SubscribeRowContainer .leftSub .emailInputContainer .emailInput{
    flex-grow: 1;
    border: none;
    background-color: rgba(123, 167, 211, 0.229);
    border-radius: 6vh;
    color: white;
    padding: 10px 20px;
    font-size: 1em; /* Adjust as needed */
    outline: none; /* Removes the outline to make it blend into the container */
    width:8vw;
    margin-right: 1vw;
    margin-top: -1vh;
    position:relative;
    font-size: 1vw;
}

.SubscribeRowContainer .leftSub .submitButton{
    border: none;
    background-color: #D3F85A;
    border-radius: 50%;
    width: 6vh; /* Adjust the width to fit the design */
    height: 6vh; /* Adjust the height to fit the design */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s ease
}

.SubscribeRowContainer .leftSub .submitButton:hover{
    cursor: pointer;
    background-color: aqua;
}

.emailInputContainer .emailInput::placeholder {
    color: rgba(255, 255, 255, 0.7); /* Lighter text color for the placeholder */
    position:absolute;
    padding-left: 1vw;
}

.SubscribeRowContainer .rightSub{
    margin-left: 20vw;
}
.SubscribeRowContainer .rightSub img {
   width:23vw
}