.PopularRow-container{
    margin-top: 2vh;
    display: flex;
    z-index: 2;
    padding: 6vh;
    padding-top: 8vh;
    height: 70vh;
}

.PopularRow-container .left{
    flex: 3;
}

.PopularRow-container .right{
    flex: 6;
    margin-top: 2vh;
}

.PopularRow-container .videoList{
    display: flex;
    list-style-type: none;
    padding-top: 2vh;
    margin-left: -4vw;
    /* new code */
    /* justify-content: space-between; */
    flex-wrap: wrap;
    flex-direction: row;
    width:80vw;
}

.PopularRow-container .videoList .videoListElement{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    padding-right: 1vw; 
    padding-bottom: 2vh;
}

.PopularRow-container .videoList .videoListElement .videoImage{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18vw; /* image width */
    transition: width 0.5s ease-in-out; 
    border-radius: 5%;
}

.PopularRow-container .videoList .videoListElement .videoImage:hover {
    width: 20vw;
}

.PopularRow-container .videoList .videoInfo-container{
    display: flex;
    margin-top: 1vh;
    /* margin-left: -6.5vw; */
    margin-left: 5em;
}

.PopularRow-container .videoList .videoInfo-container .playArrow{
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: red;
    border-radius: 50%;
    width: 30px; /* Adjust the width to fit the design */
    height: 30px; /* Adjust the height to fit the design */
    display: flex;
    margin-left: vw;
    margin-top: 2.7vh;
}

.PopularRow-container .videoList .videoInfo{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: self-start;
    width: 20rem;
}

.PopularRow-container .videoList .videoInfo .videoTitle{
    font-size: 1.9vh;
    width: 20rem;
    /* margin-left: 1vw; */
    text-overflow: ellipsis;
}


@keyframes rotate-and-float {
    0% {
        transform: rotate(0deg) translate(0, 0);
    }
    25% {
        transform: rotate(90deg) translate(18vh, 2vw);
    }
    50% {
        transform: rotate(180deg) translate(-3vh, -2vw);
    }
    75% {
        transform: rotate(270deg) translate(-3vh, 2vw);
    }
    100% {
        transform: rotate(360deg) translate(0, 0);
    }
}
.rotate {

    animation: rotate-and-float 20s linear infinite;

}