.Spotify-container{
    z-index: 2;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: flex-start;
    overflow-x: hidden;

    /* padding: 9.33vh ;
    margin-left: 5vw; */
}

.Spotify-container .subBall .staticBall{
    top:211%;
    right:40%;
    background-image: radial-gradient(circle at center, rgb(22, 163, 132) 0%, rgba(2, 122, 92, 0.7) 50%, rgba(0, 0, 0, 0) 300%);
    width: 120vh;
    height: 100vh;
}

.Spotify-container .AIRecommendation-container .staticBall{
    top: 85%;
    right: 10%;
    background-image: radial-gradient(circle at center, rgb(22, 163, 132) 0%, rgba(2, 122, 92, 0.7) 50%, rgba(0, 0, 0, 0) 300%);
    width: 50vh;
    height: 50vh;
}

.Spotify-container .sideBall .staticBall{
    top: 110%;
    right: 78%;
    width: 60vh;
    height: 60vh;
    z-index: -3;
}

.Spotify-container .sideBall2 .staticBall{
    top: 145%;
    right: 80%;
    width: 50vh;
    background-image: radial-gradient(circle at center, rgb(224, 62, 230) 0%, rgba(110, 29, 119, 0.7) 50%, rgba(33, 10, 27, 0) 300%);;
    height: 50vh;
    z-index: -3;
}