.YouTubePlayerRow-container {
  margin-top: 2vh;
  display: flex;
  z-index: 2;
  padding-left: 6vh;
  padding-top: 10vh;
  height: 80vh;
  overflow: hidden;
  height: fit-content;
}

.YouTubePlayerRow-container .left {
  flex: 6;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.YouTubePlayerRow-container .left iframe {
  width: 60vw;
  height: 50vh !important; 
  overflow: visible;
}

.YouTubePlayerRow-container .left .videoInfo-container {
  background-color: rgb(24, 24, 24);
  width: 60.3vw;
  height: fit-content;
  padding-bottom: 1.5vh;
  border-radius: 0 0 2vh 2vh;
}

.YouTubePlayerRow-container .left .videoInfo-container .videoInfoIcon {
  width: 1.2vw;
  margin-right: 0.3vw;
}

.YouTubePlayerRow-container .left .videoInfo-container h3 {
  padding-left: 1vw;
  margin-top: 1vh;
}

.YouTubePlayerRow-container .left .videoInfo-container h5 {
  color: gray;
  padding-left: 1vw;
  margin-top: -2.8vh;
  display: flex;
  align-items: center;
}

.YouTubePlayerRow-container .left .videoInfo-container .authorInfo-container {
  display: flex;
}

.YouTubePlayerRow-container
  .left
  .videoInfo-container
  .authorInfo-container
  .authorInfo {
  padding-left: 0.7vw;
  margin-top: -3vh;
}

.YouTubePlayerRow-container
  .left
  .videoInfo-container
  .authorInfo-container
  .videoDescription {
  display: flex;
  background-color: rgb(37, 37, 37);
  width: 42vw;
  padding-left: 0.7vw;
  padding-top: 0.4vh;
  margin-left: 2vw;
  font-size: 1.5vh;
  border-radius: 10px;
  height: fit-content;
}

.YouTubePlayerRow-container .left .comment-container {
  width: 60.3vw;
}

.YouTubePlayerRow-container .left .comment-container .commentTitle {
  /* display: flex; */
  margin-top: 1vh;
  width: 60.3vw;
  align-items: center;
}

.YouTubePlayerRow-container .right {
  flex: 4;
  margin-top: -3.5vh;
  margin-left: 0.5vw;
}

.YouTubePlayerRow-container .videoList {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.YouTubePlayerRow-container .videoList .videoListElement {
  display: flex;
  width: 40vw;
  padding-right: 0vh;
  padding-bottom: 3vh;
}

.YouTubePlayerRow-container .videoList .videoListElement .videoImage {
  display: flex;
  align-items: center;
  width: 12vw; /* image width */
  transition: width 0.5s ease-in-out;
}

.YouTubePlayerRow-container .videoList .videoListElement .videoImage:hover {
  width: 13vw;
}

.YouTubePlayerRow-container .videoList .videoInfo-container {
  display: flex;
  background-color: rgba(31, 31, 31, 0.849);
  border-radius: 10px;
  width: 28vw;
  padding: 0.5vw;
}

.YouTubePlayerRow-container .videoList .videoInfo {
  display: flex;
  flex-direction: column;
  margin-left: 2vw;
}

.custom-input-youtube-play {
  background-color: transparent; /* Background color */
  color: white; /* Text color */
  border: 2px solid rgb(58, 169, 217); /* Border with a custom color */
  padding: 10px; /* Padding around the text */
  border-radius: 5px; /* Rounded corners */
  outline: none; /* No outline on focus */
  width: 100%; /* Full width of the container */
  margin-top: 2vh; /* Margin on top */
  box-sizing: border-box; /* Border and padding included in width */
  resize: none; /* Disable resizing of the textarea */
  overflow: auto; /* Adds scrollbar when content overflows */
  height: 10vh;
}

.see-more-button-youtube-play{
  transition: color 0.3s ease;
}

.see-more-button-youtube-play:hover{
  color: rgb(92, 179, 223);
}