.introRowContainer{
    margin-top: 7vh;
    display: flex;
    flex-direction: row;
    z-index: 2;
    padding: 9.33vh;
    margin-left: 5vw;
}

.introRowContainer .leftIntro{
    margin-top: -2vh;
    display: flex;
    flex-direction: column;
    width:29vw;
}

.introRowContainer .leftIntro .headTextIntro li{
    font-size: 5.6vh;
    list-style-type: none;
    font-weight: bold;
}

.leftIntro .insideText{
  padding-top: 2vh;
  font-size: 1.8vh;
  font-weight: 200;
  padding-left:1vh;
  height: 5vh;
  width:27vw;
}

.introRowContainer .leftIntro .mediaIntro{
    padding-top: 0vh;
    display: flex;
    flex-direction: row;
    list-style-type: none; /* Removes bullets from list */
    padding-left: 0; /* Removes default padding */
    font-size: 3.27vh;
    padding-bottom: 5vh;
    padding-left:1vh ;
}

.leftIntro .mediaIntro .mediaTitle a {
  color: white;
  font-size:  3.27v;
  text-decoration: none;
  transition: color 0.5s ease, font-size 0.5s ease, text-decoration 0.5s ease; /* Apply transition to color as well */
  font-weight: bold;
}

.leftIntro .mediaIntro .mediaTitle a:hover{
  color: rgb(89, 207, 180); /* Lighten the text color on hover */
  font-size: 1.03em; /* Increase the font size */
  text-decoration: underline; /* Add an underline */
}

/* This targets the direct child ul of mediaIntro which should be laid out as a column */
.introRowContainer .leftIntro .mediaIntro  > li > ul {
    display: flex;
    flex-direction: column;
    list-style-type: none; /* Removes bullets from these nested list items */
    padding-left: 0; /* Removes default padding */
}
  
/* Adjust the margin as needed for each media type */
.introRowContainer .leftIntro .mediaIntro > li {
  margin-right: 3vw; /* Space between the media types */
}

.leftIntro .mediaIntro .mediaType{
  font-size: 1.87vh;
  padding-top: 2vh;
}

.leftIntro .buttonIntro {
  display: flex;
  flex-direction: row;
  list-style-type: none; /* Removes bullets */
  padding: -1vh; /* Removes padding */
  font-size: 2.8vh;
  padding-left: 2.9vh;
}

.leftIntro .buttonIntro .startExplor{
  background-color: #D3F85A; /* The green background color */
  border-radius: 2.33vh; /* The rounded corners */
  padding: 1.87vh 3vh; /* Padding inside the button */
  color: black;
  font-size: 1.87vh;
  transition: background-color 0.3s ease, font-size 0.5s ease, text-decoration 0.5s ease; /* Apply transition to color as well */
}

.leftIntro .buttonIntro .startExplor:hover{
  color:white;
  background-color:#040914;
}

.buttonIntro .newtoHere{
  font-size: 1.87vh;
  border: 0.18vh solid #D3F85A;
  border-radius:  2.33vh; 
  padding: 1.87vh 3vh;
  color:white;
  text-decoration: none;
  transition:  background-color 0.3s ease, font-size 0.5s ease, text-decoration 0.5s ease; /* Apply transition to color as well */
}

.buttonIntro .newtoHere:hover{
  background-color: #D3F85A; /* The green background color */
  color:black;
}

.leftIntro .buttonIntro{
  width:35vw;
}

.leftIntro .buttonIntro > li{
  margin-right: 3vw;
}

.rightIntro{
  display: flex;
  flex-direction: column;
  margin-left:6vw;
  animation: slideIn 3s ease-out forwards;
}

@keyframes slideIn {
  from {
      margin-left: 51vw;
      opacity: 0.1;  /* Starting position */
  }
  to {
      margin-left: 6vw;
      opacity: 1;   /* Ending position */
  }
}


.rightIntro img{
  width:33.23vh;
  height:33.6vh;
}

.rightIntro .firstRowPicture{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin:0;
}

.rightIntro .firstRowPicture li{
  margin-right: 1vw;
}

.rightIntro .secondRowPicture{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin:0;
  margin-left:6vw;
}

.rightIntro .secondRowPicture li{
  margin-right: 1vw;
  margin-top: 1vh;
}