.RecommendationRow-container{
    z-index: 2;
    padding-left: 6vh;
    padding-right: 6vh;
    margin-top: -6vh;
}

.RecommendationRow-container .recommendationList{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-left: -2.5%;
}

.RecommendationRow-container .recommendationElement{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5%;
}

.RecommendationRow-container .recommendationImage{
    height: 30vh;
    transition: height 0.5s ease-in-out; 
}
  
.RecommendationRow-container .recommendationImage:hover {
    height: 35vh;
}

.RecommendationRow-container .recommendationInfo{
    display: flex;
    flex-direction: column;
    margin-left: -40%;
    margin-top: 5%;
}