.RecommendationRow-container{
    z-index: 2;
    /* padding-left: 6vh;
    padding-right: 6vh; */
    margin-top: -5vh;
}

.RecommendationRow-container .musicList{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-left: -2.5vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
    padding-left: 6vw;
    overflow-x: auto;
    overflow-y: hidden;
    
    &::-webkit-scrollbar {
        height: 0.5vh;  /* Adjust the height of the scrollbar using viewport height */
        background-color: #333;  /* dark background for the scrollbar track */
    }

    /* Style the draggable part of the scrollbar (thumb) */
    &::-webkit-scrollbar-thumb {
        background-color: #48bd25;  /* light green color for the scrollbar thumb */
        border-radius: 0.5vh;  /* rounded corners for the scrollbar using viewport height */
        border: 0.1vw solid #444;  /* dark border around the scrollbar thumb using viewport width */
    }

    /* Style the part of the scrollbar track (part not being dragged over) */
    &::-webkit-scrollbar-track {
        background-color: #444;  /* slightly lighter dark shade for the track */
    }
}

.RecommendationRow-container .musicListElement{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 3vw;
}

.RecommendationRow-container .musicImage{
    height: 35vh;
    width: auto;
}
  
.RecommendationRow-container .musicInfo{
    display: flex;
    flex-direction: column;
    margin-top: 1.5vh;
    margin-left: 1vw;
}

.RecommendationRow-container .cover{
    display: flex;
    position: relative;
    margin-top: -12.6vh;
    /* height: 12vh;
    width: 16.3vw; */
    height: 7.2rem;
    width: 100%;
    /* border-radius: 1.9vh; */
    background-color: rgba(23, 23, 23, 0.5);
    backdrop-filter: blur(8px);

}

.RecommendationRow-container .cover .coverImage{
    height: 4.5vh;
    width: 4.5vh;
    background-color: white;
    border-radius: 50%;
    margin-top: -7rem;
    margin-left: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-width: 2.5px;
    border-style: solid; 
    border-color: transparent;
    transition: ease-in-out 0.5s;
    cursor: pointer;
}

.RecommendationRow-container .cover .coverImage:hover {
    border-color: rgb(0, 0, 0);
}


