.RecommendationRow-container{
    z-index: 2;
    padding-left: 6vh;
    padding-right: 6vh;
    margin-top: -5vh;
}

.RecommendationRow-container .recommendationList{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-left: -2.5%;
    margin-top: 3%;
}

.RecommendationRow-container .recommendationElement{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 3.8vw;
}

.RecommendationRow-container .recommendationImage{
    height: 35vh;
}
  

.RecommendationRow-container .recommendationInfo{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 5%;
}

.RecommendationRow-container .cover{
    display: flex;
    position: absolute;
    margin-top: 23vh;
    height: 12vh;
    width: 15.6vw;
    border-radius: 1.9vh;
    background-color: rgba(23, 23, 23, 0.5);
    backdrop-filter: blur(8px);
}

.RecommendationRow-container .cover .coverImage{
    height: 5vh;
    width:  3vw;
    margin-top: -115%;
    margin-left: 200%;
    border-radius: 1.9vh;
    background-image: url('../../../../assets/playImage.png');
    transition: ease-in-out 0.5s;
    cursor: pointer;
}
