.Explore-container{
    z-index: 2;
    padding: 9.33vh ;
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 5vw;
    width:auto;
    overflow-x: hidden;
}
